@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;

@layer base {
  body {
    @apply antialiased text-slate-800 bg-gray-50;
    font-family: 'Inter', sans-serif;
  }
}

@tailwind components;
@tailwind utilities;
